<section class="rr-panel b--solid br1 bw1">
  {{#if this.isEditing}}
    <button {{action (mut this.isEditing) false}}>
      Save
    </button>
  {{else}}
    <button {{action (mut this.isEditing) true}} >
      Edit
    </button>
  {{/if}}
  <h3>
    Description
  </h3>
  {{#if this.isEditing}}
    <Textarea class="rr-textarea" @value={{this.description}} />
  {{else}}
    <p class="lh-copy">
      {{this.model.description}}
    </p>
  {{/if}}
</section>
