<section class="rr-panel b--solid br1 bw1">
  <div class="flex w-100 justify-between">
    <h3>
      Description
    </h3>
    <LinkTo
      @route="bands.band.edit"
      class="underline"
      data-test-rr="edit-band-link"
    >
      Edit
    </LinkTo>
  </div>
  <p class="lh-copy" data-test-rr="band-description">
    {{this.model.description}}
  </p>
  <h3>
    Members
  </h3>
  {{#if this.model.members.length}}
    <ul class="rr-list ma0 mt3 pl3">
      {{#each this.model.members as |musician|}}
        <li class="rr-list-item" data-test-rr="musician-name">
          <LinkTo @route="musicians.show" @model={{musician.id}}>
            {{musician.name}}
          </LinkTo>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div class="mt3 ml3">
      The band has no musicians yet
    </div>
  {{/if}}
  <label class="dib.ml1.mt3">
    <LinkTo @route="musicians.new" @query={{hash band=this.model.id}}>
      {{fa-icon "plus"}}
      Add a new musician
    </LinkTo>
  </label>
</section>
