<section class="rr-panel b--solid br1 bw1">
  <div class="rr-inline-form fr">
    <div class="rr-inline-form-group">
      <button
        type="button"
        class="rr-cancel-icon-left"
        {{on "click" this.stopEditing}}
      >
        {{fa-icon "times"}}
      </button>
      <button {{on "click" (if this.isEditing (perform this.save) this.edit)}}>
        {{if this.isEditing "Save" "Edit"}}
      </button>
    </div>
  </div>
  <h3>
    Description
  </h3>
  {{#if this.isEditing}}
    <Textarea class="rr-textarea" @value={{this.model.description}} />
  {{else}}
    <p class="lh-copy">
      {{this.model.description}}
    </p>
  {{/if}}
  {{#if this.showErrors.description}}
    <div class="rr-form-field-error" data-test-rr="description-error">
      {{v-get this.model "description" "message"}}
    </div>
  {{/if}}
  <h3>
    Members
  </h3>
  {{#if this.model.members.length}}
    <ul class="rr-list ma0 mt3 pl3">
      {{#each this.model.members as |musician|}}
        <li class="rr-list-item" data-test-rr="musician-name">
          <LinkTo @route="musicians.show" @model={{@musician.id}}>
            {{musician.name}}
          </LinkTo>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div class="mt3 ml3">
      The band has no musicians yet
    </div>
  {{/if}}
  <label class="dib ml1 mt3">
    <LinkTo @route="musicians.new" @query={{hash band=this.model.id}}>
      {{fa-icon "plus"}}
      Add musician
    </LinkTo>
  </label>
</section>
