<div class="rr-controls-panel">
  <div class="rr-sort-panel">
    <LinkTo
      @query={{hash s="title"}}
      class="rr-sort-button"
      data-test-rr="sort-by-title-asc"
      {{!-- {{on "click" (fn this.updateSortBy "ratingDesc")}} --}}
    >
      Title
      {{fa-icon "angle-up"}}
    </LinkTo>
    <LinkTo
      @query={{hash s="-title"}}
      class="rr-sort-button"
      data-test-rr="sort-by-title-desc"
      {{!-- {{on "click" (fn this.updateSortBy "ratingAsc")}} --}}
    >
      Title
      {{fa-icon "angle-down"}}
    </LinkTo>
    <LinkTo
      @query={{hash s="rating"}}
      class="rr-sort-button"
      data-test-rr="sort-by-rating-asc"
      {{!-- {{on "click" (fn this.updateSortBy "titleDesc")}} --}}
    >
      Rating
      {{fa-icon "angle-up"}}
    </LinkTo>
    <LinkTo
      @query={{hash s="-rating"}}
      class="rr-sort-button"
      data-test-rr="sort-by-rating-desc"
      {{!-- {{on "click" (fn this.updateSortBy "titleAsc")}} --}}
    >
      Rating
      {{fa-icon "angle-down"}}
    </LinkTo>
  </div>
  <SearchPanel @value={{this.searchTerm}} @onChange={{this.updateSearchTerm}} />
</div>
<ul class="rr-list">
  {{#each this.model as |song|}}
    <li class="rr-list-item" data-test-rr="song-list-item">
      {{capitalize song.title}}
      <span class="rr-rating fr">
        <RatingStar
          class="fr"
          @rating={{song.rating}}
          @onClick={{fn this.updateRating song}}
          {{! as |stars| }}
        >
          {{!-- {{#each this.stars as |star|}}
            <span
              class="glyphicon
                {{if star.isFull "glyphicon-star" "glyphicon-star-empty"}}"
            ></span>
          {{/each}} --}}
        </RatingStar>
      </span>
    </li>
  {{else}}
    <li class="tc rr-empty-message">
      No
      {{capitalize this.band.name}}
      songs yet, why don't you
      <a href="#" {{on "click" this.addSong}}>
        create one?
      </a>
    </li>
  {{/each}}
</ul>
<div class="rr-new-label">
  {{#if this.isAddingSong}}
    <form
      class="rr-inline-form"
      data-test-rr="new-song-form"
      {{on "submit" (perform this.saveSong)}}
    >
      <Input
        @type="text"
        @value={{this.newSongTitle}}
        class="rr-input"
        placeholder={{this.newSongTitle}}
        data-test-rr="new-song-input"
      />
      <div class="rr-inline-form-group ml-auto">
        <button
          type="submit"
          class="rr-action-button"
          disabled={{this.isAddButtonDisabled}}
          data-test-rr="new-song-button"
        >
          Add
        </button>
        <button
          type="button"
          class="rr-cancel-icon"
          {{on "click" this.cancelAddSong}}
        >
          {{fa-icon "times"}}
        </button>
      </div>
    </form>
  {{else}}
    <button
      type="button"
      class="avenir bn bg-transparent near-white"
      data-test-rr="new-song-label"
      {{on "click" this.addSong}}
    >
      {{fa-icon "plus"}}
      Add New Song
    </button>
  {{/if}}
</div>
<div class="rr-pagination-links">
  {{#if this.hasPrevPage}}
    <LinkTo
      @query={{hash pageNumber=(dec this.pageNumber)}}
      class="rr-pagination-prev"
      data-test-rr="pagination-prev"
    >
      {{fa-icon "angle-left"}}
      Prev
    </LinkTo>
  {{/if}}
  {{#if this.hasNextPage}}
    <LinkTo
      @query={{hash pageNumber=(inc pageNumber)}}
      class="rr-pagination-next"
      data-test-rr="pagination-next"
    >
      Next
      {{fa-icon "angle-right"}}
    </LinkTo>
  {{/if}}
</div>
