<div class="rr-sidebar">
  <ul class="rr-list">
    {{#each this.model as |band|}}
      <li class="rr-list-item">
        <LinkTo
          @route="bands.band.songs"
          @model={{band.slug}}
          class="rr-band-link"
        >
          {{band.name}}
          <span class="rr-pointer">
            {{fa-icon "angle-right"}}
          </span>
        </LinkTo>
      </li>
    {{/each}}
  </ul>
  <div class="rr-new-label">
    <button
      type="button"
      class="avenir bn bg-transparent near-white"
      data-test-rr="new-band-label"
      {{on "click" this.addBand}}
    >
      {{fa-icon "plus"}}
      Add new band
    </button>
  </div>
</div>
<div class="rr-main-panel">
  {{outlet}}
</div>
