<div class="rr-form-container">
  <h3>
    Sign up to R&R
  </h3>
  <form {{on "submit" (perform this.signUp)}}>
    <div class="rr-form-row-inline">
      <label for="email">
        Email
      </label>
      <Input
        @type="email"
        @value={{this.model.email}}
        class="rr-input ml-auto"
        id="email"
        {{on "blur" (fn this.setShowErrors "email")}}
        {{on "input" this.resetBaseErrors}}
      />
      {{#if this.showErrors.email}}
        <div class="rr-form-field-error" data-test-rr="email-error">
          {{v-get model "email" "message"}}
        </div>
      {{/if}}
      {{#each this.baseErrors as |error|}}
        <div class="rr-form-field-error" data-test-rr="error-message">
          {{error}}
        </div>
      {{/each}}
    </div>
    <div class="rr-form-row-inline">
      <label for="password">
        Password
      </label>
      <Input
        @type="password"
        @value={{this.model.password}}
        class="rr-input ml-auto"
        id="password"
        autocomplete="password"
        {{on "blur" (fn this.setShowErrors "password")}}
        {{on "input" this.resetBaseErrors}}
      />
      {{#if this.showErrors.password}}
        <div class="rr-form-field-error" data-test-rr="password-error">
          {{v-get model "password" "message"}}
        </div>
      {{/if}}
    </div>
    <div class="rr-form-footer">
      <div class="rr-button-panel">
        <button
          type="submit"
          class="rr-action-button"
          data-test-rr="sign-up-button"
          disabled={{v-get this.model "isInvalid"}}
        >
          Sign up
        </button>
      </div>
      <div class="rr-cta">
        <span class="mr1">
          Already have an account?
        </span>
        <LinkTo @route="login" class="underline">
          Log in
        </LinkTo>
      </div>
    </div>
  </form>
</div>
{{outlet}}
